<!DOCTYPE html>
<html>
<head>
	<title>Demo</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
</head>
<body ng-app = "index">
 	<!-- Bine ai venit, <b id = "username"> </b>! -->
    <div ng-controller = "identification"> Welcome, <span id = "identificationName"></span>! </div>

    <br>

	<div ng-controller = "logOut">
        <button id = "logout" ng-click = "log_out()"> Log out </button>
    </div>

    <br>
    <fieldset>
        <legend>Create Team</legend>

        <input type = "text" id = "teamname" placeholder = "Team name">
        <br><br>
        <button id = "createTeam"> Create! </button>

    </fieldset>

    <h2>Your teams</h2>
    <div class = "teams">
        
    </div>

    <script>

    var userName = document.cookie.split(' ')[1].split('=')[1];
    $.get('/findUserByUsername/' + userName, function (dataUser) {
        $('#identificationName').append('<a href = "/profile.html?username=' + userName + '"><b>' + dataUser[0].firstName + '</b></a>');
    });

    $('#logout').click (function () {
        function createCookie (name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime (date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else 
                var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function eraseCookie(name) {
            createCookie (name, "", -1);
        }

        eraseCookie ('username');
        eraseCookie ('sesid');
        location.reload();
    });

    function createDate() {
        var d = new Date();

        var year = d.getFullYear();

        var mon = d.getMonth() + 1;
        if(mon < 10)
            mon = '0' + mon;

        var day = d.getDate();
        if(day < 10)
            day = '0' + day;

        var hr = d.getHours();
        if(hr < 10)
            hr = '0' + hr;

        var min = d.getMinutes();
        if(min < 10)
            min = '0' + min;

        var sec = d.getSeconds();
        if(sec < 10)
            sec = '0' + sec;

        var currentDate = year + '/' + mon + '/' + day + ' ' + hr + ':' + min + ':' + sec;

        return currentDate;
    }

    
    $('#createTeam').click (function () {
        $.get('/findUserByUsername/' + document.cookie.split(' ')[1].split('=')[1], function (data) {
            var objToMongoTeam = {
                name: $('#teamname').val(),
                teamLeadId: data[0]._id,
                registerDate: createDate(),
                departmentId: 1,
                users: [{
                    userId: data[0]._id,
                    username: document.cookie.split(' ')[1].split('=')[1],
                    position: 'Team Leader'
                }]
            };

            $.post ('/createTeam', objToMongoTeam, function (date) {}, 'json');

            $.get('/findTeamByName/' + $('#teamname').val(), function (dataTeam) {
                var newTeamId = dataTeam[0]._id;

                var arr = data[0].teamDetails.roles;
                arr.push({
                    idTeam: newTeamId,
                    position: 'Team Leader'
                });

                var objToMongoUser = {
                    find: {
                        _id: data[0]._id
                    },
                    replace: {
                        teamDetails: {
                            roles: arr
                        }
                    }
                };

                $.post ('/updateUser', objToMongoUser, function (date) {}, 'json');

                alert ('Team successful created');
                window.location.href = '/';
            });

        });
        
    });

    $.get('/findUserByUsername/' + document.cookie.split(' ')[1].split('=')[1], function (dataUser) {
        var arrTeams = dataUser[0].teamDetails.roles;
        for (let i = 0; i < arrTeams.length; ++i) {
            $.get('/findTeamById/' + arrTeams[i].idTeam, function (dataTeam) {
                $('.teams').append ('<a href = "/team.html?teamname=' + dataTeam[0].name + '">' + dataTeam[0].name + '</a>' + '<br>');
            });
        }
    });

    </script>

</body>
</html>