<!DOCTYPE html>
<html>
<head>
	<title>Message</title>
	<meta charset="UTF-8">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" type="text/css" href="style.css">

	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
	</style>
</head>
	<!-- <div class = "userList">
		<h3>Lista useri:</h3>
	</div>
	<br><br>
	<div class = "messages" style = "overflow: scroll; height: 400px;">

	</div>
	<input type = "text" id = "fieldMessage" placeholder="Message...">
	<button id = "send">Send</button> -->

<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-large">
  
  <div class="logo">
    <a href="/">
      <img src="/logo.png" alt="logo_site">
    </a>
  </div>
 </div>
</div>


<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:90px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 id = "gotoprofile" style = "cursor: pointer;" class="w3-center">My Profile</h4>
         <div class = "avatar"></div>
         <hr>
         <p><blank id="nume"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> </blank> <u style = "cursor:pointer" id = "logout">(Log out)</u></p>

         <p  id="oras"><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>  </p>
         <p  id="data_nastere"> <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>  </p>
        </div>
      </div>
      <br>
      
      <!-- Accordion -->

      <div class="w3-card w3-round">
        <a style="border-bottom: 1px solid #fff" href="/messages.html" class="w3-button w3-block w3-theme-l1 w3-left-align" title="Messages"><i class="fa fa-envelope fa-fw w3-margin-right"></i>  Messages</a>
        <div id="teams" class="w3-white">
          <button id="team" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Teams</button>
          <div id="teamBox" class="w3-white">
          </div>
        </div>
      </div> 

	  <br>

	 <!--  <div class="w3-col m12">
		  <div class="w3-card w3-round w3-white">
			  <div class="w3-container w3-padding">
			  	  <h6 class="w3-opacity">List of users</h6>
			  	  <div class = "userList"></div>
			  </div>
		  </div>
	  </div> -->
	</div>

    <!-- Middle column -->

    <div class="w3-col m7">
        <div class="w3-container w3-card w3-white w3-round w3-margin-left w3-margin-right">
          <h4 id = "receiver"></h4>
          <hr class="w3-clear">
          <div class = "messages" style = "overflow-y: scroll; height: 280px;"></div>
			<br>
			<input style = "width: 90%;" type = "text" id = "fieldMessage" placeholder="Message...">
			<button style = "float:right; height: 100%; width: auto;"; id = "send"  class="w3-button w3-theme-d2 w3-margin-bottom">	Send</button>
			<br><br>
		</div>
    </div>
    
  <!-- End Grid -->
  <div class="w3-col m2">
		  <div class="w3-card w3-round w3-white">
			  <div class="w3-container w3-padding">
			  	  <h6 class="w3-opacity">List of users</h6>
			  	  <div class = "userList"></div>
			  </div>
		  </div>
	  </div>

<!-- End Page Container -->
</div></div>
<br>


<!-- Footer -->

<br><br>
<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="/" target="_blank">MDS</a></p>
</footer>

 <script>
 	setInterval (function() {
 		var receiver = window.location.href.split('?')[1].split('=')[1];
 		$.get ('/findUserByUsername/' + currentUser, function (dataUser) {
 			var id1, id2;
 			if (dataUser[0]._id < receiver) {
 				id1 = dataUser[0]._id;
 				id2 = receiver;
 			}
 			else {
 				id1 = receiver;
 				id2 = dataUser[0]._id;
 			}
	 		$.get('/findMessageOneByGroup/' + id1 + id2, function (data) {
	 			var lastDate = data[data.length - 1].date;
	 			lastYear = lastDate.split('/')[0];
	 			lastMonth = lastDate.split('/')[1];
	 			lastDay = lastDate.split('/')[2];
	 			lastHour = lastDate.split('/')[3];
	 			lastMinute = lastDate.split('/')[4];
	 			lastSecond = lastDate.split('/')[5];

	 			lastDate = new Date(lastYear, lastMonth - 1, lastDay,
	 				lastHour, lastMinute, lastSecond, 0);

	 			var ncurrentDate = new Date();

	 			var difference = (ncurrentDate.getTime() - lastDate.getTime()) / 1000;

	 			if (difference <= 5) {
  					$('.messages').empty();
					for (let i = 0; i < data.length; ++i) {
						if (data[i].sender === dataUser[0].username) {
							$('.messages').append ('<div class = "messagea" style = "float: right;" id=' + i + '>' + data[i].message + '</div><br><br>');
						}
						else {
							$('.messages').append ('<div class = "messageb" style = "float: left;" id=' + i + '>' + data[i].message + '</div><br><br>');
						}
					}
					$('.messages').scrollTop(0);
					$('.messages').scrollTop($('#' + (data.length - 1)).position().top-$('.messages').position().top);
				}
			});
 		});
 	}, 800);

 	// import from profile

 	var userName = document.cookie.split(' ')[1].split('=')[1];


    $.get('findUserByUsername/' + userName, function (data) {
        if (data[0].linkProfilePicture) {
            $('.avatar').append('<p class="w3-center"><img src="' + data[0].linkProfilePicture + '" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>');
        }
        else {
            $('.avatar').append('<p class="w3-center"><img src="http://clicknathan.com/wp-content/uploads/2013/07/avatar-2.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>');
        }
    });
      

    $('#gotoprofile').click (function () {
        window.location = '/profile.html?username=' + userName +'&tab=overview';
    });

    $.get('/findUserByUsername/' + userName, function (dataUser) {
        $('#nume').append(dataUser[0].firstName + ' ' + dataUser[0].lastName);
        
        if(dataUser[0].city == undefined)
            $('#oras').append('Update location');
        else 
            $('#oras').append(dataUser[0].city);

        if(dataUser[0].birthdate == undefined)  
            $('#data_nastere').append('Update birthdate');
        else 
            $('#data_nastere').append(dataUser[0].birthdate);

        var showTeams = true;
        var nr_echipe = dataUser[0].teamDetails.roles.length;
        $('#team').on ('click', function () {
            if (showTeams)
                $('#teamBox').show();
            else 
                $('#teamBox').hide();
            showTeams = !showTeams;

            $('#teamBox').empty();

            for(let i = 0; i < nr_echipe; i++) {
                $.get('/findTeamById/' + dataUser[0].teamDetails.roles[i].idTeam, function(dataTeam) {
                    $('#teamBox')
                        .append('<a style = "text-decoration: none;" href = "/team.html?name=' + dataTeam[0].name + '"><p style = "padding-left: 15px;"><img style = "width: 20px; heigth: 20px;" src = "http://icons.iconarchive.com/icons/elegantthemes/beautiful-flat-one-color/128/dev-icon.png">&nbsp;' + dataTeam[0].name + '</p></a>');
                    if (i == nr_echipe - 1) {
                        $('#teamBox').append('<br>');
                    }
                });
            };
        });
    });

    // end import from profile

    if (window.location.href.split('?')[1] != undefined) {
    	var receiver = window.location.href.split('?')[1].split('=')[1];
	    $.get('/findUserById/' + receiver, function (data) {
	    	$('#receiver').append ('<img class = "w3-circle" style = "width:50px; height:50px;" src = "' + data[0].linkProfilePicture + '"></img> ' + '<a style = "text-decoration: none;" href = "/profile.html?username=' + data[0].username + '&tab=overview">' + data[0].username + '</a>');
	    });
    } else {
    	$('#receiver').append ('No user selected');
    	$('.messages').hide();
    	$('#fieldMessage').hide();
    	$('#send').hide();
    }


 	var currentUser = document.cookie.split(' ')[1].split('=')[1];
 	$.get('/findAllUsers', function(dataUsers) {
 		for(let i = 0; i < dataUsers.length; i++)
 			if(dataUsers[i].username != currentUser){
 				$('.userList')
 					.append('<img class = "w3-circle" style = "width:25px; height:25px;" src="'+ dataUsers[i].linkProfilePicture +'"></img>' + '<a style = "text-decoration: none;" href = \'/messages.html?userid=' + dataUsers[i]._id + '\'> ' + dataUsers[i].username + '</a><br>');
 			}
 	});
 	function currentDate () {
		var d = new Date();
		var year = d.getFullYear();
		var mon = d.getMonth() + 1;
		if(mon < 10)
			mon = '0' + mon;
		var day = d.getDate();
		if(day < 10)
			day = '0' + day;
		var hr = d.getHours();
		if(hr < 10)
			hr = '0' + hr;
		var min = d.getMinutes();
		if(min < 10)
			min = '0' + min;
		var sec = d.getSeconds();
		if(sec < 10)
			sec = '0' + sec;
		var date = year + '/' + mon + '/' + day + '/' + hr + '/'  + min + '/' + sec;
		return date;
	}

	$.get ('/findUserByUsername/' + currentUser, function (dataUser) {
		var id1, id2;
		var receiver = window.location.href.split('?')[1].split('=')[1];
		if (dataUser[0]._id < receiver) {
			id1 = dataUser[0]._id;
			id2 = receiver;
		}
		else {
			id1 = receiver;
			id2 = dataUser[0]._id;
		}
		$.get('/findMessageOneByGroup/' + id1 + id2, function (data) {
			for (let i = 0; i < data.length; ++i) {
				if (data[i].sender === dataUser[0].username) {
					$('.messages').append ('<div class = "messagea" style = "float: right;" id=' + i + '>' + data[i].message + '</div><br><br>');
				}
				else {
					$('.messages').append ('<div class = "messageb" style = "float: left;" id=' + i + '>' + data[i].message + '</div><br><br>');
				}
			}
			$('.messages').scrollTop(0);
			$('.messages').scrollTop($('#' + (data.length - 1)).position().top-$('.messages').position().top);
		});
	});
 	$('#send').click(function () {
 		var receiver = window.location.href.split('?')[1].split('=')[1];
 		$.get ('/findUserByUsername/' + currentUser, function (dataUser) {
 			var id1, id2;
 			if (dataUser[0]._id < receiver) {
 				id1 = dataUser[0]._id;
 				id2 = receiver;
 			}
 			else {
 				id1 = receiver;
 				id2 = dataUser[0]._id;
 			}
 			var objToMongoUser = {
 				groupId: id1 + id2,
 				message: $('#fieldMessage').val(),
 				date: currentDate(),
 				sender: currentUser
 			};
 			$.post('/createMessageOne/', objToMongoUser, function (date) {}, 'json');
 			$('.messages').empty();
 			$.get('/findMessageOneByGroup/' + id1 + id2, function (data) {
				for (let i = 0; i < data.length; ++i) {
					if (data[i].sender === dataUser[0].username) {
						$('.messages').append ('<div class = "messagea" style = "float: right;" id=' + i + '>' + data[i].message + '</div><br><br>');
					}
					else {
						$('.messages').append ('<div class = "messageb" style = "float: left;" id=' + i + '>' + data[i].message + '</div><br><br>');
					}
				}
				$('.messages').scrollTop(0);
				$('.messages').scrollTop($('#' + (data.length - 1)).position().top-$('.messages').position().top);
			});
			$('#fieldMessage').val('');
 		});
 	});

 	var input = document.getElementById("fieldMessage");
 	input.addEventListener("keyup", function(event) {
 		event.preventDefault();
 		if(event.keyCode == 13){
 			document.getElementById("send").click();
 		}
 	})
 </script>
</html>